.text-center {
  text-align: center;
}

.hide {
  display: none !important;
}

@mixin bg-effect($color, $initialWidth: 70%) {
  position: relative;

  &:after {
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: $initialWidth;
    transition: all 0.25s;
    z-index: -1;
  }

  &:hover {
    &:after {
      background: $color;
      width: 100%;
    }
  }
}

@mixin hide-text{
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin image-replace($imageURL, $width, $height) {
  @include hide-text();
  background-image: url($imageURL);
  background-repeat: no-repeat;
  background-size: $width $height;
  height: $height;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: $width;
}