$menu-width: 100px;
$menu-width-open: 300px;
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$gray: #5a5a5a;
$yellow: #f9ef48;
