@import "~normalize";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import "util";
@import "~medium_editor", "~medium_editor_theme";

$menu-width: 100px;
$menu-width-open: 300px;
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$gray: #5a5a5a;
$yellow: #f9ef48;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  color: #555;
  font-family: $font;
  margin: 0;
}

.modal {
  left: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 10;

  .background {
    background: rgba(0, 0, 0, 0.65);
    left: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .content {
    background: #fff;
    padding: 15px;
    width: calc(100% - (#{$menu-width} * 2));
  }
}

.modal-anim-enter {
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.2s;

  &.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-anim-leave {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s;

  &.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(0.7);
  }
}

.form {
  input, textarea, .medium-editor-element {
    background: transparent;
    border: 0;
    color: #3c3c3c;
    display: block;
    font-family: $font;
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%;
    transition: all 0.25s;

    &:focus {
      outline: 0;
      border-color: #000;
    }
  }

  textarea, .medium-editor-element {
    height: calc(100vh - 350px);
  }

  .btn {
    -webkit-appearance: none;
    background: #ccc;
    border: 0;
    font-size: 0.8rem;
    padding: 10px 25px;

    &:focus {
      outline: 0;
    }
  }

  .btn-primary {
    background: #ffeb3b;
  }

  .btn-facebook {
    background: #3b5999;
    color: #fafafa;
  }

  .actions {
    padding: 10px;
  }

  &.form-notes {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .medium-editor-element {
      flex-grow: 1;
    }
  }

  &.form-account {
    text-align: center;
    width: 265px;

    input {
      background: #fff;
      display: block;
      font-size: 0.875rem;
      height: 45px;
      line-height: 45px;
      text-align: center;
      width: 100%;
    }

    input[type="text"], input[type="email"] {

    }

    .btn {
      font-size: 0.875rem;
      height: 45px;
      line-height: 45px;
      margin-bottom: 10px;
      padding: 0;
      width: 100%;
    }

    a, a:visited {
      color: #3c3c3c;
      font-size: 0.75rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.big {
  font-size: 2.5rem;
}

aside {
  background-image: linear-gradient(90deg, #5a5a5a $menu-width, transparent 0px, transparent 100%);
  left: 0;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: $menu-width;
  transition: all 0.25s;

  &:hover {
    width: $menu-width-open;
  }

  .logo {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 15px 25px 15px 35px;
    text-align: center;
    width: $menu-width-open;

    div.icon {
      flex-basis: 50px;
      font-size: 2rem;
      margin-right: 25px;
      text-align: center;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a, a:visited {
        color: #fff;
        display: flex;
        align-items: center;
        padding: 15px 25px 15px 35px;
        font-size: 1rem;
        transition: all 0.25s;
        text-decoration: none;
        width: $menu-width-open;

        div.icon {
          flex-basis: 50px;
          font-size: 1.5rem;
          margin-right: 25px;
          text-align: center;
        }

        > span {
          color: transparent;
          transition: all 0.25s;
        }

        &:hover {
          background: $yellow;
          color: $gray;

          > span {
            color: $gray;
          }
        }
      }
    }
  }
}

main {
  margin: 0 0 0 calc(#{$menu-width} + 20px);
  padding: 0;

  .notes-container, .tasks-container, .container {
    float: left;
    margin: 0;
    padding: 80px 0 0 0;

    h3 {
      font-size: 1.25rem;
      font-weight: normal;
      margin-bottom: 40px;
      text-transform: uppercase;
    }
  }

  .container {
    padding-right: 20px;
    width: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .notes-container {
    width: 66.66%;

    > div {
      margin: 0 20px 0 0;

      .note {
        align-items: center;
        display: flex;
        margin: 0 -20px;
        padding: 10px 15px;
        transition: all 0.25s;

        &:hover {
          background: $yellow;
        }

        .link {
          color: $gray;
          flex-grow: 1;
          font-size: 1.75rem;
          text-decoration: none;
        }

        .date {
          font-size: 1.125rem;
          font-style: italic;
          margin: 0 10px;
        }

        .delete {
          -webkit-appearance: none;
          background: transparent;
          border-radius: 0;
          border: 0;
          font-size: 2rem;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .tasks-container {
    border-left: 1px solid #ccc;
    height: 100vh;
    overflow-y: scroll;
    width: calc(33.33% - 1px);

    h3 {
      margin-left: 20px;
    }
  }
}

body.page-login, body.page-register {
  background: url('../images/bg.jpg') center center no-repeat;
  background-size: cover;

  aside {
    display: none;
  }

  main {
    display: flex;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    > div {
      margin: 0;
    }
  }
}